
body
{
text-align: center;    
}

#container
{
    background-color: rgb(236, 243, 245);
    width: 200px;
    height: 100px;
    color: rgb(33, 61, 144);
    font-size: 20px;
    font-weight: bolder;
    margin-left: 33%;
    padding: 20px;
}

#num
{
    width: 50px;
    height: 20px;
    font-size: 18px;
    margin-left: 10px;
}

#submit
{
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(156, 16, 147);
    font-size: 20px;
    margin-top: 20px;
}

